@model Hearts4Kids.Models.BiosViewModel

@{
    ViewBag.Title = "Edit Biography";
}

@section Styles{
    <style>
        .btn-file {
          position: relative;
          overflow: hidden;
        }
        .btn-file input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 100px;
          text-align: right;
          filter: alpha(opacity=0);
          opacity: 0;
          background: red;
          cursor: inherit;
          display: block;
        }
        .bioUrl {
          background-color: white !important;
          cursor: text !important;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateEditBio","Bios",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.UserId)
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name,  new { htmlAttributes = new { @class  = "form-control disabled", @readonly = "readonly" } } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CitationDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CitationDescription,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CitationDescription, "", new { @class = "text-danger" })
            </div>
            <p class='help-block col-md-10 col-md-push-2'>@Html.DescriptionFor(model=>model.CitationDescription)</p>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Biography, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Biography, new { htmlAttributes = new { @class = "form-control input-block-level" } })
                @Html.ValidationMessageFor(model => model.Biography, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BioPicUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" accept="image/*" name="bioImg" id="bioImg"/>
                        </span>
                    </span>
                    @Html.TextBoxFor(model=>model.BioPicUrl, new{ @class="form-control bioUrl", @readonly="readonly"})
                </div>
  
                </div>
            @if (Model.BioPicUrl != null)
            {
                <div class="col-md-1 pull-right">
                    <img src="@Url.Content(Model.BioPicUrl)" class="img-responsive" />
                </div>
            }
                <p class='help-block col-md-9 col-md-push-2'>@Html.DescriptionFor(model => model.BioPicUrl)</p>
            </div>
        @if (Model.IsAdmin)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Approved, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Approved)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MainTeamPage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.MainTeamPage)
                    </div>
                </div>
                <p class='help-block col-md-10'>@Html.DescriptionFor(model => model.MainTeamPage)</p>
            </div>
        }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts{
        @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
        <script>
            CKEDITOR.replace('@Html.IdFor(model=>model.Biography)');
            $('#bioImg').on('change', function () {
                $('.bioUrl')[0].value = this.value.replace(/\\/g, '/').replace(/.*\//, '');
            });
        </script>
    }