
@model Dictionary<Domain.Teams,ILookup<Domain.Professions,Hearts4Kids.Models.BioDisplay>>

@{
    ViewBag.Title = "Team Bios";
}

<h2>The rest of the team</h2>
<ul class="list-unstyled clearfix">
    @foreach (var t in Model)
    {
    <li>
        <h3>@t.Key.ToString().SplitCamelCase()</h3>
        <ul>
            @foreach (var prof in t.Value)
            {
                <li>
                    <h4>@prof.Key.ToString().SplitCamelCase()</h4>
                    <dl class="userBios">
                        @foreach (var person in prof)
                        {
                            <dt>
                                @person.Name <small>(@person.CitationDescription)</small>
                            </dt>
                            <dd class="clearfix">
                                <img alt="picture of @person.Name" src="@Url.Content(person.BioPicUrl)" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" />
                                @Html.Raw(person.Bio)
                            </dd>
                        }
                    </dl>
                </li>
            }
        </ul>
    </li>
    }
</ul>