
@model Dictionary<Domain.DomainConstants.Teams,ILookup<Domain.DomainConstants.Professions,Hearts4Kids.Models.BioDisplay>>

@{
    ViewBag.Title = "Team Bios";
}

<h2>The rest of the team</h2>
<ul class="list-unstyled clearfix userBios">
    @foreach (var t in Model)
    {
    <li>
        <h3>@t.Key.ToString().SplitCamelCase()</h3>
        <ul>
            @foreach (var prof in t.Value)
            {
                <li>
                    <h4>@prof.Key.ToString().SplitCamelCase()</h4>
                    <dl>
                        @foreach (var person in prof)
                        {
                            <dt>
                                @person.Name @if (!string.IsNullOrEmpty(person.CitationDescription))
                                {
                                    <small>(@person.CitationDescription)</small>
                                }
                            </dt>
                            <dd class="clearfix">
                                <img alt="picture of @person.Name" src="@Url.Content(person.BioPicUrl)" class="bioPhoto col-md-1 col-lg-1 img-responsive pull-left" />
                                @Html.Raw(person.Bio)
                            </dd>
                        }
                    </dl>
                </li>
            }
        </ul>
    </li>
    }
</ul>

<!-- Modal -->
<div class="modal" id="bioModal" tabindex="-1" role="dialog"
     aria-labelledby="bioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-heading">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->