
@{
    ViewBag.Title = "GiveALittle Accounting";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Updated != null){
    <p>Successfully added @ViewBag.Updated new receipts</p> 
}
@section Styles{
    @Styles.Render("~/Content/userForms")
}

@using (Html.BeginForm("UploadGiveALittleDonors", "Subscription", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="spreadsheet">File</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" name="spreadsheet" id="spreadsheet" accept=".xlsx" data-val-required="a file must be selected" />
                        </span>
                    </span>
                    <input type="text" class="form-control urlField" readonly="readonly" />
                    @* @Html.TextBoxFor(model => model.FlyerUrl, new { @class = "form-control urlField", @readonly = "readonly" }) *@
                </div>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="spreadsheet"></span>
</div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
