@model IEnumerable<Hearts4Kids.Models.AdminGalleryModel>
@{
    ViewBag.Title = "Delete Images";
}

<h2>@ViewBag.Title</h2>

@section Styles {
    @Styles.Render("~/Content/blueimp-gallery2/css/blueimp-gallery.css")
}

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div id="links" class="gallery form group">
            @foreach (var m in Model)
            {
                <div class="col-md-2 photoUnit">
                    <a href="@m.url" class="pull-left">
                        <img src="@m.thumbnailUrl">
                    </a>
                    <label class="label label-default">size:<span>@m.fileSize</span></label>
                    <button class="btn btn-danger deleteImg" type="button" value="@m.name" >Delete</button>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}


@section Scripts{
    @Scripts.Render("~/Content/blueimp-gallery2/js/blueimp-gallery.js")
    @Scripts.Render("~/Content/blueimp-gallery2/ans-blueimp-gallery2-set.js")
    <script>

        ; (function ($) {
            $('#links').on('click', '.deleteImg',function () {
                var $self = $(this);
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("DeleteFile")',
                    data: { fileUrl: this.value }
                }).success(function(){
                    $self.closest('.photoUnit').remove();
                });
            });
        })(jQuery);
    </script>
}