@model IEnumerable<Hearts4Kids.Models.GalleryModel>
@{
    ViewBag.Title = "Gallery";
}

<h2>@ViewBag.Title</h2>

@section Styles {
    @Styles.Render("~/Content/blueimp-gallery2/css/blueimp-gallery.css")
}


<h3>Videos</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/12uDrfqQx5I" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4VHBbiC-fis" frameborder="0" allowfullscreen></iframe>

@section Scripts{
    @Scripts.Render("~/Content/blueimp-gallery2/js/blueimp-gallery.js")
    @Scripts.Render("~/Content/blueimp-gallery2/ans-blueimp-gallery2-set.js")
}
<hr />
<h3>Pictures</h3>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links" class="gallery">
    @foreach (var m in Model)
    {
        <a href="@m.url" >
            <img src="@m.thumbnailUrl" >
        </a>
    }
</div>