
@{
    ViewBag.Title = "Team";
}

@section Styles {
    @Styles.Render("~/Content/TeamPage.css")
}


<div class="row" id="team">
    <div class="col-md-12">
        <h2><a id="team-link">THE TEAM</a></h2>
    </div>
    <p class="text-center">
        We believe the integrity of the team of professionals volunteering time to our organisation is the reason to donate to Heart 4 Kids. 
        Efficient, experienced, technically skilled and hard working. <small>Click @Html.ActionLink("here","UserBios","Bios") if you would like to see the entire list of team
        members</small>
    </p>
</div>
<div class="userBios">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Surgical Team
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>
                            Kirsten Finucane
                        </dt>
                        <dd class="clearfix">
                            <img alt="photo of Kirsten Finucane" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="~/Content/Photos/Bios/pv/Kirsten w Baby Patient.jpg" />
                        </dd>
                        <dt>
                            Helen Sargent
                        </dt>
                        <dd class="clearfix">
                            <figure>
                                <img alt="photo of Helen Sargent" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="@Url.Content("~/Content/Photos/Bios/Surgical.png")">
                            </figure>
                            <p>As a surgical nurse assistant, Helen’s main role is to first assist the surgeon at the operations.  Her technical expertise and knowledge allow the operation to be done safely but at speed, which is important for good outcomes in this specialty. The role is more comprehensive than operating alone as it involves both preoperative checks to ensure all the information is available for each patient on the operating table, and postoperative care alongside the medical staff in the wards. </p>
                            <p>Helen has a long background of nursing experience in the cardiothoracic field having worked at Greenlane and the Ascot Cardiac theatres. She came to the Starship unit as paediatric first assistant in 2011. </p>
                            <p>Through 2008 to 2013 Helen joined the adult operating team going to Lautoka, Fiji four times to perform cardiac surgery and travelled to Zambia with another team. Last year, Helen coordinated the first paediatric visit to operate in Lautoka, Fiji and enabled the team to perform 12 operations safely and with the resources needed. </p>
                            <p>Helen grew up in Auckland and lives with her husband and three boys in Meadowbank. She is a keen boatie and enjoys being out on the harbour and out of range of the phone!  </p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Medical Team <small class="text-info">(cardiology)</small>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt><a name="JohnWright"></a>Dr John Wright</dt>
                        <dd class="clearfix">
                            <figure>
                                <img alt="photo of John Wright" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="~/Content/Photos/Bios/pv/Fiji_John Wright.jpg">
                            </figure>

                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Intensive Care Team
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Carol Robinson</dt>
                        <dd class="clearfix">
                            <figure>
                                <img alt="photo of Carol Robinson" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="~/Content/Photos/Bios/pv/Carol Post Op w Baby.jpg">
                            </figure>

                        </dd>
                        <dt>Brent McSharry</dt>
                        <dd class="clearfix">
                            <figure>
                                <img alt="photo of Brent McSharry" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="@Url.Content("~/Content/Photos/Bios/Surgical.png")">
                            </figure>

                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    The (pro-bono) support Crew
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Alex Mercer</dt>
                        <dd class="clearfix">
                        </dd>
                    </dl>
                    <dl>
                        <dt>Rigamoto</dt>
                        <dd class="clearfix">
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="bioModal" tabindex="-1" role="dialog"
     aria-labelledby="bioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-heading">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*
@section Scripts {
    @Scripts.Render("~/Scripts/singlePage.js")
}
*@