
@{
    ViewBag.Title = "Team";
}

@section Styles {
    @Styles.Render("~/Content/TeamPage.css")
}


<div class="row" id="team">
    <div class="col-md-12">
        <h2><a id="team-link">THE TEAM</a></h2>
    </div>
    <p class="text-center">
        We believe the integrity of the team of professionals volunteering time to our organisation is the reason to donate to Heart 4 Kids. 
        Efficient, experienced, technically skilled and hard working. <small>Click @Html.ActionLink("here","UserBios","Bios") if you would like to see the entire list of team
        members</small>
    </p>
</div>
<div class="userBios">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Surgical Team
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>
                            Kirsten Finucane
                        </dt>
                        <dd class="clearfix">
                            <img alt="photo of Kirsten Finucane" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="~/Content/Photos/Bios/pv/Kirsten w Baby Patient.jpg" />
                            <p>Kirsten is the Head of Paediatric and Congenital Cardiac Surgery at Starship and Auckland Hospitals, the only unit in New Zealand to perform children's heart operations. She has 19 years of experience as a cardiothoracic consultant and has led the team for 15 of those years. The unit in New Zealand performs over 400 major operations per year, many on infants under a year of age, with results comparable to those of the best centres in USA or Europe.</p>
                            <p>An experience working in a missionary hospital in Nepal in 1984 and seeing the huge positive impact of good operations on their sick, was her initial catalyst for deciding to train as a surgeon.</p>
                            <p>One of Kirsten's major interests has been repairing the valves of children affected by rheumatic heart disease, for which she has several publications, and these operations on over 150 children have included many from the Pacific Islands brought to New Zealand for treatment.</p>
                            <p>Kirsten is mum to 3 boys, and lives in Auckland with her partner, <a href="#JohnWright">John Wright</a>. In 2009 Kirsten received the New Zealand Order of Merit in recognition of her dedicated national service and international reputation in the field of paediatric cardiac surgery.</p>
                            <p>Read more about Kirsten in recent articles - <a href="http://www.nzherald.co.nz/nz/news/article.cfm?c_id=1&objectid=11302897" target="_blank"> Lion Heart: Amber-Rose Gailer</a> by Suzanne McFadden NZ Herald and <a href="http://tvnz.co.nz/marae-investigates/preventing-third-world-disease-killing-our-children-4953635" target="_blank">Preventing a third world disease from killing our children</a> by TVNZ</p>
                        </dd>
                        <dt>
                            Helen Sargent
                        </dt>
                        <dd class="clearfix">
                            <figure>
                                <img alt="photo of Helen Sargent" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="@Url.Content("~/Content/Photos/Bios/Surgical.png")">
                            </figure>
                            <p>As a surgical nurse assistant, Helen’s main role is to first assist the surgeon at the operations.  Her technical expertise and knowledge allow the operation to be done safely but at speed, which is important for good outcomes in this specialty. The role is more comprehensive than operating alone as it involves both preoperative checks to ensure all the information is available for each patient on the operating table, and postoperative care alongside the medical staff in the wards. </p>
                            <p>Helen has a long background of nursing experience in the cardiothoracic field having worked at Greenlane and the Ascot Cardiac theatres. She came to the Starship unit as paediatric first assistant in 2011. </p>
                            <p>Through 2008 to 2013 Helen joined the adult operating team going to Lautoka, Fiji four times to perform cardiac surgery and travelled to Zambia with another team. Last year, Helen coordinated the first paediatric visit to operate in Lautoka, Fiji and enabled the team to perform 12 operations safely and with the resources needed. </p>
                            <p>Helen grew up in Auckland and lives with her husband and three boys in Meadowbank. She is a keen boatie and enjoys being out on the harbour and out of range of the phone!  </p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Medical Team <small class="text-info">(cardiology)</small>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt><a name="JohnWright"></a>Dr John Wright</dt>
                        <dd class="clearfix">
                            <figure>
                                <img alt="photo of John Wright" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="~/Content/Photos/Bios/pv/Fiji_John Wright.jpg">
                            </figure>
                            <p>John Wright is a paediatric cardiologist who trained in Medicine at Cambridge University and after various junior posts, developed his career in Birmingham Children's cardiac unit working there for over 20 years with the best outcomes in the UK, in particular for complex neonatal surgery.</p>
                            <p>The son of Sir Oliver Wright, a well known British diplomat, he spent his childhood years moving from country to country and thus has always had a love of travelling and learning about different cultures. Over the last 25 years he has volunteered on a variety of surgical missions to support local services or support surgeons visiting to operate where the countries do not have access to services, including East Jerusalem, Malaysia, and India. </p>
                            <p>In 2009 John came to NZ to do a locum and stayed permanently, to become a member of the Starship cardiology team. He was interested in the visits of his colleagues to Tonga, Samoa, and Vanuatu for clinics. A friend on the golf course who is an expatriot from near Lautoka, Fiji, persuaded him to consider visiting Fiji and look at how services to heart children could be improved there, and the ideas for this project were born!</p>
                            <p>He lives with Kirsten and enjoys walking the dogs, playing golf and supporting the All Blacks and the Black caps (unless they are playing England).</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Intensive Care Team
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Carol Robinson</dt>
                        <dd class="clearfix">
                            <figure>
                                <img alt="photo of Carol Robinson" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="~/Content/Photos/Bios/pv/Carol Post Op w Baby.jpg">
                            </figure>
                            <p>Carol Robinson leads the intensive care nursing team, recruiting and organising the group of senior nurses who look after the infants and children in the first few hours after surgery. </p>
                            <p>Carol has been to Fiji four times with the adult team and last year with the first paediatric visit. Her role includes creating inventories of the equipment and drugs required as absolutely everything needs to be brought from New Zealand to recreate an intensive care environment within the basic facilities of the local hospital.</p>
                            <p>Carol's parents were farmers and she was brought up in the Bay of Islands where the serious impact of poverty and poor health on people's quality of life was a reality in her day-to-day life. She has had a long career in cardiac intensive care nursing, first at Greenlane, and then at Starship Hospital. </p>
                            <p>Her passion is in the area of education, and she currently holds the portfolio for Cardiac Education in the Paediatric Intensive Care Unit at Starship. Since going to Fiji she has been actively working to upskill the nurses there by direct teaching sessions during the visits, by including local nurses on the rostered shifts to work alongside our nurses, and by providing certificates that acknowledge the local nurses involvement and skills obtained at the end of the visit. </p>
                            <p>In 2015 Carol plans to implement an educational programme that she has now developed specifically for Fijian nurses to improve their knowledge and skills in paediatric intensive care, which will have a year-round impact on the quality of care for all children admitted there with critical health problems, not just cardiac.</p>
                            <p>Carol lives out west with her partner and two adult children and loves tramping, gardening and watching absolutely any sport on TV. </p>
                            <p>She has taken great pleasure in seeing young adult patients from earlier missions return to tell her just what a huge change the surgery has made in their lives. </p>
                        </dd>
                        <dt>Brent McSharry</dt>
                        <dd class="clearfix">
                            <figure>
                                <img alt="photo of Brent McSharry" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="@Url.Content("~/Content/Photos/Bios/Surgical.png")">
                            </figure>
                            <p>Brent McSharry is a specialist paediatric intensive care doctor. His primary role on the mission is to care for the children as soon as they leave the operating theatre.</p>
                            <p>Brent's Australian drawl hints at his Sydney origins and training. He has spent years in paediatrics and emergency medicine working in varied locations around Australia including remote north Queensland and the Northern Territory. Brent also volunteered with MSF in Sierra Leone. </p>
                            <p>His love of the outdoors helped to bring him across to New Zealand in 2009 and he is now firmly settled here with his young family.</p>
                            <p>He enjoys teaching other doctors, students and medical staff and last year his teaching ward round at the end of the Fiji visit was valued by all.</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    The (pro-bono) support Crew
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Alex Mercer</dt>
                        <dd class="clearfix">
                        </dd>
                    </dl>
                    <dl>
                        <dt>Rigamoto</dt>
                        <dd class="clearfix">
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="bioModal" tabindex="-1" role="dialog"
     aria-labelledby="bioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-heading">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*
@section Scripts {
    @Scripts.Render("~/Scripts/singlePage.js")
}
*@