@model Dictionary<Domain.Teams, ILookup<Domain.Professions, Hearts4Kids.Models.BioDisplay>>
@{
    ViewBag.Title = "Team";
}

@section Styles {
    @Styles.Render("~/Content/TeamPage.css")
}


<div class="row" id="team">
    <div class="col-md-12">
        <h2><a id="team-link">THE TEAM</a></h2>
    </div>
    <p class="text-center">
        We believe the integrity of the team of professionals volunteering time to our organisation is the reason to donate to Heart 4 Kids. 
        Efficient, experienced, technically skilled and hard working. <small>Click @Html.ActionLink("here","UserBios","Bios") if you would like to see the entire list of team
        members</small>
    </p>
</div>
<div class="userBios"> @*for js*@
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Surgical Team
                </div>
                <div class="panel-body">
                    <dl>
                @foreach (var prof in Model[Domain.Teams.Theatres].OrderBy(m => m.Key))
                {
                    foreach (var p in prof)
                    {
                        <dt>
                            @p.Name
                        </dt>
                        <dd class="clearfix">
                            <img alt="photo of @p.Name" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="@Url.Content(p.BioPicUrl)" />
                            @Html.Raw(p.Bio)
                        </dd>
                    }
                }
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Medical Team <small class="text-info">(cardiology)</small>
                </div>
                <div class="panel-body">
                    <dl>
                @foreach (var prof in Model[Domain.Teams.Wards].OrderBy(m => m.Key))
                {
                    foreach (var p in prof)
                    {
                        <dt>
                            @p.Name
                        </dt>
                        <dd class="clearfix">
                            <img alt="photo of @p.Name" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="@Url.Content(p.BioPicUrl)" />
                            @Html.Raw(p.Bio)
                        </dd>
                    }
                }
                        </dl>
                    </div>
                </div>
            </div>
        </div> <!--row-->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Intensive Care Team
                </div>
                <div class="panel-body">
                    <dl>
                        @foreach (var prof in Model[Domain.Teams.ICU].OrderBy(m => m.Key))
                        {
                            foreach (var p in prof)
                            {
                                <dt>
                                    @p.Name
                                </dt>
                                <dd class="clearfix">
                                    <img alt="photo of @p.Name" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="@Url.Content(p.BioPicUrl)" />
                                    @Html.Raw(p.Bio)
                                </dd>
                            }
                        }
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    The (pro-bono) support Crew
                </div>
                <div class="panel-body">
                    @if (Model.ContainsKey(Domain.Teams.NewZealand))
                    {
                    <dl>
                        @foreach (var prof in Model[Domain.Teams.NewZealand])
                        {
                            foreach (var p in prof)
                            {
                                <dt>
                                    @p.Name
                                </dt>
                                <dd class="clearfix">
                                    <img alt="photo of @p.Name" class="bioPhoto col-md-2 col-lg-2 img-responsive pull-left" src="@Url.Content(p.BioPicUrl)" />
                                    @Html.Raw(p.Bio)
                                </dd>
                            }
                        }
                    </dl>
                    } else
                    {
                        <p><small>Coming soon - we would like to acknowledge the huge amount of work done by various Rotarians, Fijian medical staff and 
                            others - biographies &amp; photos will be coming very shortly.</small></p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="bioModal" tabindex="-1" role="dialog"
     aria-labelledby="bioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-heading">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*
@section Scripts {
    @Scripts.Render("~/Scripts/singlePage.js")
}
*@