@model IEnumerable<Hearts4Kids.Models.BioDisplay>
@{
    ViewBag.Title = "Youth Volunteers";
}

<h2>Thoughts of our Youth Volunteers</h2>
<p>
    Last year, we had two entirely self funded university students volunteer with us - to help the team and see what we do.
    Tasks ranged from running down to the pharmacy to buy drugs we were running short of, to typing up surgical notes and pushing beds to theatre.  
</p>
<p>
    Below are summaries from these two keen volunteers.
</p>
<dl>
    @foreach (var person in Model)
    {
        <dt>
            @person.Name @if (!string.IsNullOrEmpty(person.CitationDescription))
            {
                <small>(@person.CitationDescription)</small>
            }
        </dt>
        <dd class="clearfix">
            <img alt="picture of @person.Name" src="@Url.Content(person.BioPicUrl)" class="bioPhoto col-md-1 col-lg-1 img-responsive pull-left" />
            @Html.Raw(person.Bio)
        </dd>
    }
</dl>
<p class="help-block">
    There will potentially be opportunities to join us in a similar role over the coming years. Prerequisites will obviously be around positive attitude and willing to work hard.
    As well as being self-funded, you would have to be willing/able to help fundraise for the project as a whole (not just your own expenses) prior to coming.
</p>