<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hearts4Kids</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Logos/favicon.ico">
    @RenderSection("styles", required: false)
</head>
<body>
    <!--G Facebook Like and Share -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1453984768235318',
                xfbml: true,
                version: 'v2.3'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--G End FacebooK -->
    <div id="navbar" class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- must be visible when nav bar collapsed?-->
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id="current" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("The Team", "Team", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>
                    <li>@Html.ActionLink("2015 letter", "DisplayPdf", "Home",new { id = "H4K 2015 Campaign Letter" },null) </li>
                    <li>@Html.ActionLink("Events", "Index", "Fundraisers")</li>
@*
                    <li>@Html.ActionLink("Donor FAQs", "FAQ", "Home")</li>
*@
                    <li class="btn-warning">@Html.ActionLink("Donate", "Donate", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6 text-center col-md-push-3">
                <img id="masthead" class="img-responsive" alt="Hearts4Kids Logo" src="~/Content/Logos/Full2.png" />
            </div>
            <!--G Facebook Like and Share -->
            <div class="fb-like" data-href="https://www.facebook.com/Hearts4KidsPasifika" data-layout="standard" width="200" data-action="like" data-show-faces="false" data-share="true"></div>
            <!--G End FacebooK -->
        </div>

        <hr />

        @RenderBody()

        <hr>

        <div class="row" id="copyright">
            <!--G Start--><div id="shareContainer" style="left:0 !important">
                <ul>
                    <li><a href="http://www.facebook.com/Hearts4KidsPasifika" target="_blank" class="facebook">&nbsp;</a></li>
                    <li><a href="https://twitter.com/Hearts4KidsNZ" target="_blank" class="twitter">&nbsp;</a></li>
                    <li><a href="https://instagram.com/hearts4kids/" target="_blank" class="instagram">&nbsp;</a></li>
                    <li><small>(coming soon - more ways to keep up with H4K)</small></li>
@*
                    <li><small>coming soon</small></li>

                    <li><a href="" target="_blank" class="pinterest">&nbsp;</a></li>
                    <li><a href="" target="_blank" class="youtube">&nbsp;</a></li>
                    <li><a href="" target="_blank" class="googleplus">&nbsp;</a></li>
                    
                    <li><a href="" target="_blank" class="linkedin">&nbsp;</a></li>


        <!--<li><a href="#" class="rss">&nbsp;</a></li>
    <li><a href="http://www.sharethis.com/feed/" class="rss">&nbsp;</a></li>-->

*@
                    <li></li>
                </ul>
            </div><!--G End-->
            <span>&copy; 2015 - Hearts4Kids</span>
        </div>
    </div>
    <footer class="footer panel-footer navbar-fixed-bottom">
        <div class="container">
            <div class="col-md-4">
                @Html.ActionLink("Find out More","About","Home",null,new { @class = "btn btn-success btn-block", role = "button" })
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-block dropup">
                    <div class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
                        Subscribe to Our Newsletter <span class="caret"></span>
                    </div>
                    <div id="subscribeMenu" class="dropdown-menu">
                        @Html.Partial("_SubscribePartial", new Hearts4Kids.Models.SubscribeModel())
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @Html.ActionLink("Donate","Donate","Home",null, new {@class="btn btn-warning btn-block", role="button"})
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/h4kutilities")
    @RenderSection("scripts", required: false)
</body>
</html>

