<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hearts4Kids</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- must be visible when nav bar collapsed?-->
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- <li>@Html.ActionLink("Home", "Index", "Home")</li>  -->
                    <li>@Html.ActionLink("Our Team", "Team", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Donor FAQs", "FAQ", "Home")</li>
                    <li>@Html.ActionLink("Donate", "Donate", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6 text-center col-md-push-3">
                <img class="img-responsive" alt="Heart4Kids Logo" src="@Url.Content("~/Content/Logos/Full2.png")" />
            </div>
        </div>

        @RenderBody()
        <hr />
        <div class="row" id="copyright">
            <span>&copy; @DateTime.Now.Year - Heart4Kids</span>
        </div>
    </div>
    <footer class="footer panel-footer">
        <div class="container">
            <div class="col-md-4">
                <div class="btn-group btn-block dropup">
                    <div class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
                        Subscribe to Our Newsletter <span class="caret"></span>
                    </div>
                    <div class="dropdown-menu">
                        <form role="form">
                            <div class="form-group">
                                <label for="name">Email</label>
                                <input type="email" class="form-control" id="name" placeholder="Your Email">
                                <span class="help-block">About twice a year we will send you updates on how your money is being spent and how the patients are going</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-success btn-block" role="button">
                    Find out More
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-warning btn-block" role="button">
                    Donate
                </a>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<!--
    
        <div class="row">
        <div id="donate">
            <h3><a id="team-link">DONATE</a></h3>
            <p>As a Heart4Kids supporter, your donation will help raise XX,000 to send a medical team this year to Fiji to save the lives of XX children and babies. </p>
            <p> </p>
            <p>There are two ways to donate. </p>
            <ul>
                <li>DONATE By direct credit transfer to the Heart4Kids Trust bank account:  Kiwibank XXXX and the account name is <insert>. Please reference your name. We would like to thank you for your donation and send you a receipt for your donation so please send us an email to info@kiwi4kids.org with your contact details. </li>
                <li>DONATE by credit card through our page on Give A Little</li>
            </ul>
            <p>Thank you for your donation. Your support is vital. We are not funded by the Government and simply can't do this without your help. You donation will go directly to equipment needed and costs associated with the economy travel of our medical team. </p>
            <p></p>
        </div>
        <div id="partners">
            <h3>PARTNERS</h3>
            <p>Hearts4Kids simply couldn’t operate without the help of our partners</p>
            <p>INSERT FOFHF LOGO</p>
            <p>FOFHF support us logistically with the transport of equipment and disposables in addition to local support on the ground.</p>
            <p>INSERT ROMAC</p>
            <p>ROMAC support us with administrative support.  </p>
            <p></p>
        </div>
    </div>
-->