<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hearts4Kids</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="navbar" class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- must be visible when nav bar collapsed?-->
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("The Team", "Team", "Home")</li>
@*
                    <li>@Html.ActionLink("Donor FAQs", "FAQ", "Home")</li>
*@
                    <li class="btn-warning">@Html.ActionLink("Donate", "Donate", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6 text-center col-md-push-3">
                <img id="masthead" class="img-responsive" alt="Hearts4Kids Logo" src="~/Content/Logos/Full2.png" />
            </div>
        </div>
        <hr />
        @RenderBody()
        <hr />
        <div class="row" id="copyright">
            <span>&copy; @DateTime.Now.Year - Hearts4Kids</span>
            @*--G Start -- only facebook has an H4K link 
            <div id="shareContainer">
                <ul>
                     <li><a target="_blank" href="http://www.facebook.com/Hearts4KidsPasifika" class="facebook">&nbsp;</a></li>
                     // PM:  following have generic links to sharing sites   move this end comment to cut them out 
                     <li><a target="_blank" href="http://twitter.com/sharethis" class="twitter">&nbsp;</a></li>
                     <li><a target="_blank" href="http://pinterest.com/sharethis/" class="pinterest">&nbsp;</a></li>
                     <li><a target="_blank" href="http://youtube.com/sharethis" class="youtube">&nbsp;</a></li>
                     <li><a target="_blank" href="https://plus.google.com/u/0/+sharethis/posts" class="googleplus">&nbsp;</a></li>
                     <li><a target="_blank" href="http://instagram.com/sharethis" class="instagram">&nbsp;</a></li>
                     <li><a target="_blank" href="http://www.linkedin.com/company/sharethis" class="linkedin">&nbsp;</a></li>
                    <li></li>
                </ul>
            </div><!--G End-->
        *@
@*  Alex's facebook icon (big and blue)
    
*@
                </div>
    </div>
    <footer class="footer panel-footer navbar-fixed-bottom">
        <div class="container">
            <div class="col-md-4">
                <a href="#" class="btn btn-success btn-block" role="button">
                    Find out More
                </a>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-block dropup">
                    <div class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
                        Subscribe to Our Newsletter <span class="caret"></span>
                    </div>
                    <div id="subscribeMenu" class="dropdown-menu">
                        @using (Html.BeginForm("Subscribe","Home", FormMethod.Post))
                        {
                            <div class="container-fluid col-md-12">
                                <div class="form-group">
                                    <label for="name">Email</label>
                                    <input type="email" class="form-control" id="subscriberMail" name="subscriberMail" placeholder="Your Email">
                                    <span class="help-block">About twice a year we will send you updates on how your money is being spent, and stories from the children and families.</span>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Subscribe" />
                                
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-warning btn-block" role="button">
                    Donate
                </a>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

