
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @Html.ActionLink("Change your password", "ChangePassword")
        </dd>
        <dt>Biography &amp; Picture</dt>
        <dd>@Html.ActionLink("Edit", "CreateEditBio", "Bios")</dd>
        <dt>Member Info</dt>
        <dd>@Html.ActionLink("Update", "UpdateDetails", "Bios")</dd>
        <dt>Upload Photos</dt>
        <dd>@Html.ActionLink("Upload", "Upload", "Gallery")</dd>
        <dt>Team Members</dt>
        <dd>@Html.ActionLink("Contact", "AllUserContacts", "Bios")</dd>
        <dt>Approach Letter</dt>
        <dd>Download 2015 campaign letter for edit as @Html.ActionLink("Word doc (.docx)", "DownloadFile", new { filename = "H4K 2015 Campaign Letter.docx" })
            or as @Html.ActionLink("Rich Text (.rtf)", "DownloadFile", new { filename = "H4K 2015 Campaign Letter.rtf" }) (larger file)</dd>
        
        <dt>Fundraisers</dt>
        <dd>@Html.ActionLink("Enter details", "CreateEdit", "Fundraisers") about upcoming Hearts4Kids fundraising events</dd>
    </dl>
        @if (ViewBag.IsAdmin)
        {

            <hr />
            <h4>Administrator Tasks</h4>
            <dl class="dl-horizontal">

                <dt>Make Banner</dt>
                <dd>@Html.ActionLink("Choose Photos", "MakeBanner", "Gallery") for front page scrolling banner from the gallery</dd>
                <dt>All Bios</dt>
                <dd>@Html.ActionLink("See list", "Index", "Bios") of all available biographies for edit and authorisation</dd>
                <dt>Invite</dt>
                <dd>@Html.ActionLink("Invite team members", "CreateUsers", "Account") to be enable them to login and upload photos or write a biography</dd>
                <dt>View Users</dt>
                <dd>@Html.ActionLink("View", "ViewAllUsers") including altering administrator privileges</dd>
                <dt>Delete Photos</dt>
                <dd>@Html.ActionLink("Delete Photos","GalleryWithDelete","Gallery")</dd>
                <dt>Generate Receipts</dt>
                <dd>@Html.ActionLink("Generate Receipt Manually", "CreateReceipt", "Subscription") or @Html.ActionLink("Upload givealittle excel file","UploadGiveALittleDonors", "Subscription")</dd>
                <dt>View Receipts</dt>
                <dd>@Html.ActionLink("View","AllReceipts","Subscription")</dd>
            </dl>
        }
</div>

            @*
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>

                    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                     See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                     Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                            <dt>Phone Number:</dt>
                            <dd>
                                @(Model.PhoneNumber ?? "None") [
                                @if (Model.PhoneNumber != null)
                                {
                                    @Html.ActionLink("Change", "AddPhoneNumber")
                                    @: &nbsp;|&nbsp;
                                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                                }
                                else
                                {
                                    @Html.ActionLink("Add", "AddPhoneNumber")
                                }
                                ]
                            </dd>
                        <dt>Two-Factor Authentication:</dt>
                        <dd>
                            <p>
                                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                for details on setting up this ASP.NET application to support two-factor authentication.
                            </p>
                            @if (Model.TwoFactor)
                                {
                                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <text>Enabled
                                        <input type="submit" value="Disable" class="btn btn-link" />
                                        </text>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <text>Disabled
                                        <input type="submit" value="Enable" class="btn btn-link" />
                                        </text>
                                    }

                        </dd>
                    </dl>

                </div>
                }*@
